@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  background-color: #111;
  color: #bbb;
}

.tooltip {
  @apply invisible absolute  transition-opacity duration-300 ease-in-out;
  opacity: 0;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
  opacity: 1;
}